/* Colors for reference:
   color1: #1ba8ed
   color2: #94b3f7
   color3: #0c1434
   color4: #504c94
   color5: #acbcc4
   color6: #383a5b
*/

.button{
    -fx-background-color: #1ba8ed;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 10;
}

.button:hover{
    -fx-background-color: #504c94;

}
