/* Colors for reference:
   color1: #1ba8ed
   color2: #94b3f7
   color3: #0c1434
   color4: #504c94
   color5: #acbcc4
   color6: #383a5b
*/

.button{
    -fx-background-color: #1ba8ed;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-height: 50px;
    -fx-width: 100px;
    -fx-font-size: 14px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button:hover{
    -fx-background-color: #504c94;
    -fx-box-shadow: 0 5px 15px #555758;
}

.text-field {
    -fx-min-height: 50px;
    -fx-max-height: 100px;
    -fx-font-size: 14px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


